<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/style2.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="//cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="//cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" href="/static/style.css">
  <title>Document</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Home</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/login"> Login/Register</a>
          <a class="nav-link" href="/dashboard">Dashboard</a>
          <a class="nav-link" href="/products">Products</a>
          <a class="nav-link" href="/sales">Sales</a>
          <div class="flashes-container" style="background-color: bisque; position: absolute;right:5%; height: 5px; font-size: 13px; width: 140px; color: rgb(212, 209, 209);" >
            {% with messages = get_flashed_messages() %} {% if messages %}
            <div class="alert alert-primary" role="alert">
              <ul class="list-unstyled">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
            {% endif %} {% endwith %}
          </div>
        </div>
        </div>
      </div>
    </div>
  </nav>
  
  <div class="login-reg-panel">
    <div class="login-info-box">
      <h2>Have an account?</h2>
      <label id="label-register" for="log-reg-show">Login</label>
      <input type="radio" name="active-log-panel" id="log-reg-show" checked="checked">
    </div>

    <div class="register-info-box">
      <h2>Don't have an account?</h2>
      <p>Sign up!</p>
      <label id="label-login" for="log-login-show">Register</label>
      <input type="radio" name="active-log-panel" id="log-login-show">
    </div>

    <div class="white-panel" style="background-color: beige;">
      <div class="login-show">
        <h2>Already have an account?</h2><br>
        <p>Sign in!</p>
        <form action="/login" method="post">
          <input type="text" placeholder="Email" name="email">
          <input type="password" placeholder="Password" name="password">
          <button class="button-7" type="submit" role="button">Login</button>
        </form>
        <!-- {% with messages = get_flashed_messages()%}
        {%if message %}
        {%for message in messages%}
        <h3>{{ message }}</h3>
        {% endfor %}
        {% endif %}
        {% endwith %} -->
      </div>
      <div class="register-show">
        <h2>REGISTER</h2>
        <form action="/register" method="post">
          <input type="text" placeholder="Email" name="email">
          <input type="text" placeholder="full_name" name="full_name">
          <input type="password" placeholder="Enter Password" name="password">
          <button class="button-7" type="submit" role="button">Register</button>
        </form>

      </div>
    </div>
    
  <script src="/static/login.js"></script>
</body>

</html>